#create-article{
    padding: 100px 0px 100px 0px;
}

.create-article-title{
    font-size: 36px;
    font-weight: bold;
    font-family: "Lora", sans-serif;
    color:var(--title-text-color);
    margin-bottom: 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form_input-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_input-group label{
    font-size: 18px;
    font-family: "Lora", sans-serif;
    color:var(--title-text-color);
    font-weight: bold;
}



.form-input:not([type="file"]){
    font-size: 18px;
    padding: 15px 5px 0px 5px;
    font-family: "Lora", sans-serif;
    color: black;
    border: none;
   
    border-bottom: 2px solid var(--title-text-color);
    background-color: rgba(0, 0, 0, 0.05);
}

.error-input:not([type="file"]){
    border-bottom: 2px solid red;
    color: red ;
    background-color: rgba(255, 0, 0, 0.1) ;
}




.form-input-tag-list{
    display: flex;
    flex-wrap: wrap;
   
    gap: 5px;
}

.tag{
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Lora", sans-serif;
    cursor: pointer;
    transition: .3s;
}

.selected-tag{
    background-color: var(--primary-bg-color);
    color: white;
    border-color: black;
}

.refuse-tag-anim{
    animation: shake 0.2s ease-in-out forwards;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0);
    }
}

.form_input-group textarea{
    resize: none;
    font-size: 18px;
    padding: 10px;
    font-family: "Lora", sans-serif;
    color: black;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.05);
}

.form-input-submit{
    font-family: "Lora", sans-serif;
    color: var(--title-text-color);
    background-color: white;
    font-size: 20px;
    display: inline;
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.form-input-submit:hover{
    background-color: var(--primary-bg-color);
    color: white;
}

.form_labels-group{
    display: flex;
    gap: 10px;
}

.form_labels-group .form-input-error-msg{
    color: lightcoral;

}

.form-input-image-preview{
    background-color: rgba(0, 0, 0, 0.05);
    display: inline;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-input-image{
    background-color: rgba(255, 0, 0, 0.1) ;
}

.form-input-image-preview img:not(.cover-image-preview){
    width: 100px;

}

.cover-image-preview{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}