h1, h2, p{
    margin: 0;
}

#articles{
    margin-top: 150px;
    margin-bottom: 150px;
}

.articles-header{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.articles-header-title{
    font-size: 36px;
    font-family: "Lora", sans-serif;
    color:var(--title-text-color);
    font-weight: bold;
}

/*/////////////////////////////////////////////////////////////////////////// */
/*/////////////////////////////////////////////////////////////////////////// */
/*/////////////////////////////////////////////////////////////////////////// */


