h1, h2, p{
    margin: 0;
}

#articles{
    margin-top: 150px;
    margin-bottom: 150px;
}

.articles-header{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.articles-header-title{
    font-size: 36px;
    font-family: "Lora", sans-serif;
    color:var(--title-text-color);
    font-weight: bold;
}

.articles-filter{
    display: flex;
    justify-content: space-between;
}

.articles-filter-list{
    display: flex;
    gap: 20px;
}

.articles-filter-list button, .filter-btn{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    font-family: "Lora", sans-serif;
    color:var(--title-text-color);
    font-weight: bold;
}

.articles-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.articles-list-image{
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.articles-list-image img{
    object-fit: cover;
    transition: .3s;
}

.article-list-card:hover .articles-list-image img{
    transform: scale(1.2);
}

.articles-list-image-label{
    position: absolute;
    top: 20px;
    right: 20px;
}

.article-list-card{
    width: 310px;
    cursor: pointer;
    
}


.articles-list-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.articles-list-text-date{
    font-size: 12px;
    font-family: "Lora", sans-serif;
    color: var(--title-text-color);
}

.articles-list-text-title{
    font-size: 18px;
    font-family: "Lora", sans-serif;
    font-weight: bold;
    color: var(--title-text-color);
}

.articles-list-text-description{
    font-size: 12px;
    font-family: "Lora", sans-serif;
    color: var(--title-text-color);
}




/*/////////////////////////////////////////////////////////////////////////// */
/*/////////////////////////////////////////////////////////////////////////// */
/*/////////////////////////////////////////////////////////////////////////// */

#big-post{
    width: 100%;
    max-width: 1440px;
    height: 600px;
    background-image: url("../../assets/images/big-post/BigPostImage.png");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.big-post-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.big-post-tag{
    margin-bottom: 24px;
}

.big-post-title{
    font-size: 36px;
    font-family: "Lora", sans-serif;
    color: white;
    font-weight: bold;
    width: 530px;
    margin-bottom: 13px;
}

.big-post-text{
    width: 420px;
    font-size: 12px;
    font-family: "Lora", sans-serif;
    color:var(--secondary-text-color);
    margin-bottom: 24px;
}

.horizontal-line{
    width: 30px;
    height: 1px;
    background-color: var(--secondary-text-color);
    margin-bottom: 15px;
}

.big-post-date{
    font-size: 12px;
    font-family: "Lora", sans-serif;
    color:var(--secondary-text-color);
}


/*/////////////////////////////////////////////////////////////////////////// */
/*/////////////////////////////////////////////////////////////////////////// */
/*/////////////////////////////////////////////////////////////////////////// */

#blog-metro{
    margin-bottom: 150px;
}

.blog-metro-card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.blog-metro-title{
    color:var(--title-text-color);
    font-size: 36px;
    font-weight: bold;
    font-family: "Lora", sans-serif;
    margin-bottom: 70px;
}

.blog-metro-card{
    position: relative;
    display: inline-block;
}

.blog-metro-card-tag{
    position: absolute;
    top:10px;
    right: 10px;
}

.blog-metro-card-content{
    position: absolute;
    bottom: 42px;
    left: 40px;
}

.blog-metro-card-date{
    font-size: 12px;
    font-family: "Lora", sans-serif;
    color:var(--secondary-text-color);
    margin-bottom: 15px;
}

.blog-metro-card-title{
    font-size: 18px;
    font-family: "Lora", sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    width: 270px;

}

.blog-metro-card-text{
    font-size: 12px;
    font-family: "Lora", sans-serif;
    color:var(--secondary-text-color);
    width: 340px;
}