#article-item{
    position: relative;
    padding: 100px 0px 100px 0px;
}

.article-item-metadata{
    position: absolute;
    left: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--title-text-color);
    font-weight: bold;
    gap: 7px;
}

.article-page-menu-container{
    position: absolute;
    right: -50px;
}

.article-three-dots{
    cursor: pointer;
    transition: .3s;
    padding: 3px;
    border-radius:5px;
}

.article-three-dots:hover{
    background-color:rgba(128, 128, 128, 0.5);
}

.article-page-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 2px solid black;
    padding: 3px;
    border-radius:5px;
    display: none;
}

.article-page-menu button{
    font-family: "Lora", sans-serif;
    color:black;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border:1px solid black;
    border-radius: 2px;
    font-size: 14px;
    cursor:pointer;
}

.article-page-menu button:hover{
    opacity: 0.5;
}


#delete-btn{
    background-color:lightcoral;
}

#edit-btn{
    background-color:lightyellow;
}

.horizontal-line-article{
    display: flex;
    width: 35px;
    height: 1px;
    background-color: #C4C4C4;
}

.article-item-content{
    margin-bottom: 50px;
}

.article-item-content p{
    font-size: 14px;
    font-family: "Lora", sans-serif;
    color:var(--title-text-color);
    line-height: 25px;
}

.tag-list{
    display: flex;
    gap: 13px;
    align-items: center;
}

.article-tag{
    border-radius: 5px;
    border: 1px solid var(--secondary-text-color);
    padding: 5px 10px 5px 10px;
    color: #6C757D;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.article-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-author-info{
    display: flex;
    align-items: center;
    gap:17px;
}

.article-author-info-text{
    display: flex;
    flex-direction: column;
}

.article-author-info-text h5{
    margin: 0;
    color: var(--secondary-bg-color);
    font-size: 12px;
    font-weight: bold;
    font-family: "Lora", sans-serif;
    line-height: 20px;
}
.article-author-info-text p{
    color: #6C757D;
    font-size: 12px;
    font-family: "Lora", sans-serif;
    line-height: 20px;
}

.article-author-icons{
    display:flex ;
    align-items: center;
    gap:10px;
}

.module-window-container{
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    top:0px;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
}

.module-window{
    background-color:white;
    border:4px solid #6C757D;
    padding: 10px;
    border-radius:10px;
}

.module-window h2{
    margin-bottom: 10px;
}

.module-window-buttons{
    display: flex;
    justify-content: space-evenly;
}

.module-window-buttons button{
    font-family: "Lora", sans-serif;
    color:black;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border:1px solid black;
    border-radius: 5px;
    font-size: 18px;
    cursor:pointer;
    padding: 10px 30px;
    transition: 0.3s;
}

.module-window-buttons button:hover{
    opacity: 0.5;
}

#yes-btn{
    background-color:lightgreen;
}

#no-btn{
    background-color:lightcoral;
}