h1, a{
    margin: 0;
}

header{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px 30px 70px;
    max-width: 1440px;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}

.header-title{
    font-size: 20px;
    font-family: "League Spartan", system-ui;
    font-weight: bold;
    color:white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.vertical-line{
    height: 20px;
    width: 1px;
    background-color: #E5E5E5;
}

.header-links{
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-links a{
    text-decoration: none;
    color:var(--secondary-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 4px;
    border-radius: 5px;
}

.active-link{
    color: white;
    background-color:var(--focus-color);
    /* border-bottom: 2px solid var(--focus-color); */
}

.header-links-icons{
    display: flex;
    gap: 18px;
    align-items: center;
}

.burger-icon{
    width: 30px;
    display: none;
    cursor: pointer;
}

#blog-slider{
    background-image: url("../../assets/images/Image.png");
    max-width: 1440px;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: end;
    padding: 70px;
    box-sizing: border-box;
}



.blog-slider-title{
    font-size: 36px;
    font-family: "Lora", sans-serif;
    font-weight: bold;
    color:white;
    max-width: 530px;
    margin-top: 15px;
    margin-bottom: 13px;
}

.blog-slider-description{
    display: flex;
    align-items: start;
    gap: 10px;
}

.blog-slider-description-text{
    max-width: 520px;
    width: 100%;
    line-break: anywhere;
    color: var(--secondary-text-color);
    font-size: 12px;
    font-family: "Lora", sans-serif;
}

.blog-slider-description-date{
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-slider-description-date p {
    color: var(--secondary-text-color);
    font-size: 12px;
    font-family: "Lora", sans-serif;
}

.blog-slider-horizontal-line{
    width: 30px;
    height: 1px;
    background-color:  var(--secondary-text-color);
}

.dots{
    display: flex;
    gap:10px;
    margin-top: 62px;
}

.dot{
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.200);
    border-radius: 100%;
}

.active-dot{
    background-color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 550px) {
    .header-links{
        display: none;
    }

    .vertical-line{
        display: none;
    }

    .burger-icon{
        display:block;
    }
}